<span class="colorvert"><i style="font-size:28px;" class="fa fa-pie-chart "></i></span>
<span class="bleu_fonce">
                    {% set r_tot = 0 %}
    {% for consor in r_byuser %}
        {% set r_tot = r_tot + consor.recolte %}
    {% endfor %}
    {{ r_tot|number_format(0, ',', ' ') }} kg
                </span>
<span class="noir_petit"> Récolte</span>
<br/>
<span style="text-align: left;">
                        {% for cal in calories %}
                            {{ cal.nombre|number_format(0, ',', ' ') }} Kcal produites
                        {% endfor %}
                </span>
<span style="text-align: left;">
                         {% for cal in calories %}
                             {% set calo = cal.nombre/700 %}
                             soit {{ calo|number_format(0, ',', ' ') }}
                         {% endfor %} repas
                </span>
<br/><br/>

<span class="bleu_fonce">
                        {% set r_tot =  0  %}
    {% for consor in r_byuser %}
        {% set r_tot = r_tot + consor.recolte %}
    {% endfor %}
    {% set tot = (26 * r_tot * 100) /10 %}
    {{ tot|number_format(0, ',', ' ') }} g
                    </span>
                    <span class="noir_petit">CO2 absorbé</span>
                    <span class="colorvert"><i style="font-size:28px;" class="fa fa-leaf "></i></span>
<br/><br/>