<div class="tof">
    <a href="javascript:display_photo('{{ vich_uploader_asset(p) }}','1000','1000','Photo de profil')">
        <img
            src="{{ vich_uploader_asset(p) }}"
            style="object-fit: cover"/>
    </a>
</div>
