
    <div class="mosaique">
        <a href="{{ path('oneflux', {id: flux.id}) }}">
            <img
                src="{{ vich_uploader_asset(p) }}"
                class="img-responsive mdl-card mdl-shadow--2dp"   
                style="max-height : 7em;max-width : 7em;min-height : 4em;min-width : 4em;object-fit: cover;"/>
        </a>
    </div>
