
    <details id="statistics">
        <div class="row cadre_blanc">
        {% set nbr = 0 %}
        {% for flux in fluxes %}
            {% if flux.post is not null%}
                {% set nbr = nbr +1 %}
                    {{ include('home/flux/index_post.html.twig', { 'post': flux.post}) }}
                <hr/>
            {% elseif flux.panier is not null %}
                {% if flux.panier.plants is not empty or flux.panier.recoltes is not empty %}
                    {% set nbr = nbr +1 %}
                        {{ include('home/flux/index_panier.html.twig', { 'panier': flux.panier}) }}
                    <hr/>
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <summary class="row cadre_blanc">
            <span class="deroulfloatl">&nbsp;<img src="{{ asset('images/a_propos.png') }}" alt="Image" width="30" height="30">&nbsp;&nbsp;Publications ({{ nbr }})</span>
            <span class="deroulfloatr"><span style="margin-top:0.5em;" class="chevron glyphicon glyphicon-menu-right"> </span>&nbsp;</span>
        </summary>
    </details>
