
        <table class="table table-striped table_jardin">
            <thead>
                <tr>
                    <th  class="colorblue">Note</th>
                </tr>
            </thead>
            <tbody>
             <tr>  <th>{{ post.description }} </th><tr/>
            </tbody>
   </table>
            


{% for p in post.photos %}
        {% if p.imageName != "aujourdhui.png"  %}
            <img src="{{ vich_uploader_asset(p) }}"
                    {# Optional but avoids having a page jump when the image is loaded #}
                 alt="Image"
                 class="img-responsive mdl-card mdl-shadow--2dp"
                 style="max-height : 380px;display: block;margin-left: auto;margin-right: auto"/>
        {% endif %}
{% endfor %}
<hr/>



