<table class="table table-striped table_jardin" >
    <thead>
    <tr>
        <th class="colortgris">Depense</th>
        <th></th>
        <th>Qté</th>
        <th>Prix</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td style=" text-align: center">{{ achat.type.nom }}</td>
            <td style=" text-align: center">{{ achat.descritpion }}</td>
            <td style=" text-align: center">{{ achat.quantite }}</td>
            <td style=" text-align: center">{{ achat.prix }}<small><i>€</i></small></td>
        </tr>
    </tbody>
</table>
<hr/>