<table class="gg-table">
    <thead>
        <tr>
            <th class="th-gris">🛒 Dépense</th>
            <th>Description</th>
            <th>Qté</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ achat.type.nom }}</td>
            <td><small>{{ achat.descritpion }}</small></td>
            <td>{{ achat.quantite }}</td>
            <td>{{ achat.prix }}<small><i>€</i></small></td>
        </tr>
    </tbody>
</table>
<hr class="gg-divider"/>
