<details class="gg-details" id="statistics" open>

    <div class="gg-details-content">
        {% set vide = 0 %}
        {% if fluxes is not empty %}
            {% for flux in fluxes %}

                {% if flux.panier is not null %}
                    {% if flux.panier.plants is not empty or flux.panier.recoltes is not empty %}
                        {{ include('carnet/displayPanier.html.twig', {'panier': flux.panier, 'date': date}) }}
                    {% endif %}

                {% elseif flux.post is not null %}
                    {{ include('carnet/displayPost.html.twig', {'post': flux.post}) }}

                {% elseif flux.achat is not null %}
                    {{ include('carnet/displayAchat.html.twig', {'achat': flux.achat}) }}

                {% endif %}
            {% endfor %}
            {% set vide = 1 %}
        {% endif %}

        {% if vide == 0 %}
            <p class="gg-empty">Aucune activité aujourd'hui !</p>
        {% endif %}
    </div>

    <summary>
        <span class="summary-left">
            <span class="summary-icon">📅</span>
            <span>{{ date_calendrier }}</span>
        </span>
        <span class="summary-chevron">›</span>
    </summary>

</details>
