<div style="margin-top:0.75rem;">
    <a href="javascript:display_photo('{{ vich_uploader_asset(p) }}','1000','1000','Photo')">
        <img src="{{ vich_uploader_asset(p) }}"
             alt="Photo"
             class="gg-photo"/>
    </a>
</div>
