        {% for flux in fluxes %}
            {% if flux.panier is not null %}
                {% if flux.panier.plants is not empty or flux.panier.recoltes is not empty %}
                    <p>
                        {{ include('carnet/panier.html.twig', { 'panier': flux.panier, 'date' : date}) }}
                    </p>
                {% endif %}
            {% elseif flux.post is not null%}
                <p>
                    {{ include('carnet/post.html.twig', { 'post': flux.post}) }}
                </p>
            {% endif %}
        {% endfor %}